## Deliverable 2. Create a Customer Travel Destinations Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
# import gmaps

# Configure gmaps API key
# gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,vaini,TO,-21.2000,-175.2000,77.16,73,75,4.61,broken clouds,2021-08-09 02:47:08
1,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
2,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
3,atuona,PF,-9.8000,-139.0333,78.04,77,15,21.07,few clouds,2021-08-09 02:44:51
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,86,0,23.13,clear sky,2021-08-09 02:47:10

In [40]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input('Enter minimum temperature:'))
max_temp = float(input('Enter maximum temperature:'))

Enter minimum temperature:50
Enter maximum temperature:80

In [41]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

mask =(city_data_df["Max Temp"] >= min_temp ) & (city_data_df["Max Temp"] <= max_temp)
city_data_filtered_df =city_data_df.loc[mask]
city_data_filtered_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,vaini,TO,-21.2000,-175.2000,77.16,73,75,4.61,broken clouds,2021-08-09 02:47:08
1,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
2,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
3,atuona,PF,-9.8000,-139.0333,78.04,77,15,21.07,few clouds,2021-08-09 02:44:51
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,86,0,23.13,clear sky,2021-08-09 02:47:10
...,...,...,...,...,...,...,...,...,...,...
169,cherskiy,RU,68.7500,161.3000,64.96,28,70,5.99,broken clouds,2021-08-09 02:42:55
172,provideniya,RU,64.3833,-173.3000,55.51,62,0,17.90,clear sky,2021-08-09 02:47:47
173,hobart,AU,-42.8794,147.3294,59.25,58,75,1.99,broken clouds,2021-08-09 02:45:09
174,puerto ayora,EC,-0.7393,-90.3518,69.55,90,32,4.00,scattered clouds,2021-08-09 02:47:15
178,albany,US,42.6001,-73.9662,72.01,88,7,3.74,clear sky,2021-08-09 02:45:11

In [42]:
# 4a. Determine if there are any empty rows.
city_data_filtered_df.isnull()
# city_data_filtered_df.dropna()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
169,False,False,False,False,False,False,False,False,False,False
172,False,False,False,False,False,False,False,False,False,False
173,False,False,False,False,False,False,False,False,False,False
174,False,False,False,False,False,False,False,False,False,False
178,False,False,False,False,False,False,False,False,False,False

In [43]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = city_data_filtered_df.dropna()

clean_df.head(5)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,vaini,TO,-21.2000,-175.2000,77.16,73,75,4.61,broken clouds,2021-08-09 02:47:08
1,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
2,hermanus,ZA,-34.4187,19.2345,52.90,70,100,19.22,light rain,2021-08-09 02:47:09
3,atuona,PF,-9.8000,-139.0333,78.04,77,15,21.07,few clouds,2021-08-09 02:44:51
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,86,0,23.13,clear sky,2021-08-09 02:47:10

In [44]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Lat", "Lng", "Max Temp", "Current Description"]].copy()
hotel_df

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,
1,hermanus,ZA,-34.4187,19.2345,52.90,light rain,
2,hermanus,ZA,-34.4187,19.2345,52.90,light rain,
3,atuona,PF,-9.8000,-139.0333,78.04,few clouds,
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,clear sky,
6,atuona,PF,-9.8000,-139.0333,78.04,few clouds,
7,nikolskoye,RU,59.7035,30.7861,63.01,broken clouds,
8,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,
9,airai,TL,-8.9266,125.4092,73.65,few clouds,
11,fukuma,JP,33.7667,130.4667,77.00,overcast clouds,

In [45]:
# Import API key
from config1 import g_key

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for ind in hotel_df.index:
    # 6c. Get latitude and longitude from DataFrame
    location =str(hotel_df["Lat"][ind]) + ","+ str(hotel_df["Lng"][ind])

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    params["location"] = location

    # 6e. Make request and retrieve the JSON data from the search. 
    google_response = requests.get(base_url, params=params).json()
    
    try:
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[ind, "Hotel Name"] = google_response["results"][0]["name"]
#         If an error is experienced, skip the city.
    except:
        print("Hotel not found. Skipping...")
        pass


        
hotel_df

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,Keleti Beach Resort
1,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
2,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
3,atuona,PF,-9.8000,-139.0333,78.04,few clouds,Villa Enata
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,clear sky,Pousada Porto Praia
...,...,...,...,...,...,...,...
169,cherskiy,RU,68.7500,161.3000,64.96,broken clouds,Gostinitsa
172,provideniya,RU,64.3833,-173.3000,55.51,clear sky,
173,hobart,AU,-42.8794,147.3294,59.25,broken clouds,Mantra on Collins Hobart
174,puerto ayora,EC,-0.7393,-90.3518,69.55,scattered clouds,Finch Bay Galapagos Hotel
178,albany,US,42.6001,-73.9662,72.01,clear sky,

In [46]:
# 7. Drop the rows where there is no Hotel Name.

valid_hotelname_mask =(hotel_df["Hotel Name"] != '')
clean_hotel_df = hotel_df.loc[valid_hotelname_mask]
clean_hotel_df

# hotel_df["Hotel Name"][72]

# import numpy as np
# hotel_df["Hotel Name"].replace('',np.nan, inplace=true)
# clean_hotel_df = hotel_df.dropna()
# clean_hotel_df

# hotel_df

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,Keleti Beach Resort
1,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
2,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
3,atuona,PF,-9.8000,-139.0333,78.04,few clouds,Villa Enata
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,clear sky,Pousada Porto Praia
...,...,...,...,...,...,...,...
167,kodiak,US,57.7900,-152.4072,62.11,overcast clouds,Best Western Kodiak Inn And Convention Center
168,hobart,AU,-42.8794,147.3294,59.25,broken clouds,Mantra on Collins Hobart
169,cherskiy,RU,68.7500,161.3000,64.96,broken clouds,Gostinitsa
173,hobart,AU,-42.8794,147.3294,59.25,broken clouds,Mantra on Collins Hobart
174,puerto ayora,EC,-0.7393,-90.3518,69.55,scattered clouds,Finch Bay Galapagos Hotel

In [9]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

# clean_hotel_df = pd.read_csv(output_data_file)
# clean_hotel_df.head()

,City,Country,Lat,Lng,Max Temp,Current Description,Hotel Name
0,vaini,TO,-21.2000,-175.2000,77.16,broken clouds,Keleti Beach Resort
1,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
2,hermanus,ZA,-34.4187,19.2345,52.90,light rain,Misty Waves Boutique Hotel
3,atuona,PF,-9.8000,-139.0333,78.04,few clouds,Villa Enata
4,arraial do cabo,BR,-22.9661,-42.0278,68.25,clear sky,Pousada Porto Praia

In [10]:

import gmaps
import gmaps.datasets

from config1 import g_key

# import pandas as pd
# clean_hotel_df = pd.read_csv ('WeatherPy_vacation.csv')

#Configure gmaps API key

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))